html,
body {
    margin: 0;
}
#vue-app-root {
    padding: 10px;
}
.eslint-results {
    margin-top: 10px;
}

.box-card {
    border: 0;
    border-radius: 0;
    .el-card__header {
        padding: 5px 3px;
        cursor: pointer;
        .filePath {
            cursor: default;
            padding: 0 20px 0 40px;
        }
        .error-warning-count {
            float: right;
        }
        .el-icon-check,
        .el-icon-arrow-right,
        .el-icon-arrow-down {
            display: none;
        }
    }
    &.is-success .el-icon-check {
        display: inline;
    }
    &:not(.is-success).open .el-icon-arrow-down {
        display: inline;
    }
    &:not(.is-success).close .el-icon-arrow-right {
        display: inline;
    }
    &.is-success .el-card__header {
        color: #67c23a;
        background: #f0f9eb;
        border-color: #c2e7b0;
    }
    &.is-warning .el-card__header {
        color: #e6a23c;
        background: #fdf6ec;
        border-color: #f5dab1;
    }
    &.is-error .el-card__header {
        background-color: #fef0f0;
        color: #f56c6c;
        border-color: #fbc4c4;
    }
    &.close .el-card__body {
        display: none;
    }
    .el-table td {
        padding: 0;
    }
    .el-table .cell {
        padding: 0 3px;
        line-height: 20px;
    }
}

.color {
    &-success {
        color: #67c23a;
    }
    &-danger {
        color: #f56c6c;
    }
    &-warning {
        color: #e6a23c;
    }
}
